<%= @menu.each do |item| %>
	<p>
		Menu Item : <%= item.menu %>
	</p>
	<p>
		Restaurant Name : <%= item.restaurant %>
	</p>
	<br>
	<%= link_to 'destroy',menu_path(item), method: :delete %>
	<br>
<% end %>
<%= link_to 'Add new Item',new_menu_path %>